@main-blue		: #268282;
@dark-blue		: #1C4A4A;
@light-blue     : #27A1A1;
@lighter-blue   : #51C4C4;
@background-grey : #E3E3E3;
@text-grey      : #565656;

#left-panel-apprentice {
	display: block;
	float: left;
	clear: none;
	width: 230px;
	height: 650px;
	margin: 0px 10px 0px 0px;
	padding: 0px 15px 0px 0px;
	overflow: hidden;

	&:hover {
		overflow-y: scroll;
	}

	#left-panel-apprentice-pic {
		float: left;
		margin: 0px 5px 10px 0px;
		width: 80px;
		height: 80px;
		border-radius: 15px;
	}

	#left-panel-apprentice-name {
		float: left;
		margin: 15px 0px 0px 0px;
		color: @text-grey;
		font-weight: 400;
		font-size: 1em;
		line-height: 10px;
		clear: none;
	}

	#left-panel-apprentice-subtitle {
		float: left;
		display: block;
		margin: 2px 0 0 0;
		max-width: 120px;
		color: @text-grey;
		font-size: 1em;
		font-weight: 300;
		line-height: 15px;
	}

	#left-panel-apprentice-description {
		display: block;
		float: left;
		clear: both;
		line-height: 17px;
	}
}

